.overlayContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 100;
}

.effect {
	position: absolute;
	bottom: 40px;
	/* Start slightly above entities */
	transform: translateX(-50%);
	animation: floatUp 1s ease-out forwards;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
}

@keyframes floatUp {
	0% {
		transform: translate(-50%, 0);
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -30px);
		opacity: 0;
	}
}
